@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-sekokan: #1200FF;
  --color-rakurosu: #0EA5E9;
  --color-kidorin: #0D9488;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sekokan: var(--color-sekokan);
  --color-rakurosu: var(--color-rakurosu);
  --color-kidorin: var(--color-kidorin);
}

body {
  background: var(--background);
  color: var(--foreground);
}
